* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  position: relative;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 80px;
}

.text__purple {
  color: #7342d6;
}

button:active {
  transform: translateY(5px);
}

body {
  min-height: 100%;
  overflow-x: hidden;
}
/* NAVBAR*/

.nav__bar {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 80px;
  top: 0;
}

.nav__bar--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 24px;
}

.nav__img--wrapper {
  display: flex;
  align-items: center;
  width: 150px;
}

.nav__img {
  width: 100%;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  transition: all 400ms;
}

.nav__link--primary {
  padding: 4px 12px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #7342d6;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
}

.nav__link--primary:hover {
  font-size: 24px;
  opacity: 0.8;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  border-radius: 3px;
  right: 0;
  bottom: -3px;
  background-color: #7342d6;
  transition: all 500ms ease;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

header {
  height: calc(100vh - 80px);
}

/* LANDINGPAGE*/
#landing {
  width: 100%;
  background-color: rgba(115, 66, 214, 0.1);
  height: 100vh;
}

.landing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.landing__title {
  color: #7342d6;
}

.landing__sub-title {
  margin: 16px 0;
}

.landing__button {
  color: white;
  font-size: 16px;
  background-color: #7342d6;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  margin: 8px 0;
  transition: all 400ms ease;
}

.landing__button:hover {
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
}

.landing__img--wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.landing__img {
  width: 100%;
  max-width: 600px;
}

/* WHY*/

#why {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.why__row {
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
}

#why::before {
  background: url("./Assets/wave.svg");
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  height: 250px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-230px);
  top: 0px;
}

#why::after {
  background: url("./Assets/wave.svg");
  content: "";
  position: absolute;
  bottom: -230px;
  left: 0;
  width: 100vw;
  height: 230px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.why__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}

.why__title {
  font-size: 28px;
}

.why__wrappers {
  display: flex;
  flex-direction: column;
  padding: 10px 24px;
}

.why__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100%;
}

.why__img--wrapper {
  padding: 20px 20px;
  border-radius: 5px;
  border: 2px solid #7342d679;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.why__img--wrapper:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

.why__icon {
  font-size: 38px;
  color: #7342d6;
}

h3 {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.why__para {
  text-align: center;
  line-height: 1.5;
  max-width: 150px;
  font-size: 12px;
}

/* BOOKS*/

#featured__books {
  background-color: rgba(115, 66, 214, 0.1);
  width: 100%;
  display: flex;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.featured__books--row {
  width: 90%;
  margin-top: 200px;
}

.books__title {
  margin-bottom: 50px;
}

.books {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.book {
  display: flex;
  flex-direction: column;
  margin: 0 40px 20px 40px;
  transition: all 300ms ease;
}

.book__img--container {
  width: 120px;
  transition: all 300ms ease;
}
.book__img--container:hover {
  transform: scale(1.15);
  cursor: no-drop;
}

.book__img {
  width: 100%;
  border-radius: 10px;
}

.book__description {
  font-size: 12px;
  font-weight: bold;
  transition: all 300ms ease;
}

.book:hover .book__description {
  transform: translateY(17px);
}

.book__rating {
  color: rgb(255, 194, 41);
}

.book__price--normal {
  color: rgb(124, 124, 124);
  text-decoration: line-through;
}

.book__button {
  border: 0px;
  transition: all 150ms ease;
}

/*LATEST BOOKS*/

#latest__books {
  background-color: rgba(255, 255, 255, 0.1);
}

.latest__books--row {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 auto;
  width: 90%;
}

.latest__books {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
}
.books1,
.books2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*EXPLORE BOOKS*/

#explore {
  background-color: rgba(115, 66, 214, 0.1);
  border-radius: 10px;
}

.explore__row {
  margin: 0;
  padding-top: 24px;
}

.explore__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.explore__button {
  margin-top: 20px;
}

/*FOOTER*/

footer {
  background-color: #242424;
}

.footer__logo--img {
  width: 100px;
  height: 70px;
}
.footer__row {
  margin: 0;
  height: 100%;
  padding: 5% 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__social--list {
  padding: 8px 16px;
}

.footer__social--link {
  color: white;
}

.footer__figure {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  color: rgb(153, 153, 153);
  font-size: 12px;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer__logo--popper {
  position: absolute;
  color: white;
  right: 10px;
  top: 37px;
  font-weight: 700;
  font-size: 14px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.footer__anchor {
  position: relative;
  margin-bottom: 24px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(57px);
  opacity: 1;
}

.link__hover-effect--white:after {
  background-color: white;
}

/* MEDIA QUERIES*/

@media (max-width: 768px) {

  .books{
    justify-content: center;
  }
  .books1{
    justify-content: center;
  }
  .books2{
    justify-content: center;
  }

.book{
  margin: 0 60px 20px 60px;
}

.footer__logo--popper{
  top: 26px;
}
}
